* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

/* .header {
    background-color: #fff;
    border-bottom: 4px solid #999;
}

.main {
    background-color: #666;
    padding: 15px 0 15px;
}

.max-width-wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.intro-chunk {
    padding-top: 40px;
    padding-left: 140px;
}


.intro-chunk p {
    max-width: 370px;
    margin-bottom: 20px;
}

.intro-chunk p:last-child {
    max-width: 300px;
    margin-bottom: 40px;
}

.intro-chunk strong{
    color:#009966
}
.title{
    margin-bottom: 40px;
}

.card{
    background-color: #fff;
    max-width: 808px;
    margin: 50px auto;
    padding: 20px;
    border-bottom: 4px solid #999;
}

.indented-heading {
    background-color: #FFBF00;
    border-bottom: 4px solid #C90;
    display: inline;
    padding: 10px 15px;
    position:relative;
    top:-5px;
    left: -25px;
}

.card p {
    margin-top: 30px;
    max-width: 750px;

}

.card p:last-child{
    margin-top: 10px;
} */

.max-width-wrapper {
    width: 800px;
    margin: 0 auto;
}

.intro-chunk {
    max-width: 415px;
    padding-top: 96px;
    padding-bottom: 64px;
    background-color: aqua;
}